* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_nav {
    background: #0B0C10;
    width: 100%;
    height: 80px;
    padding: 20px 70px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.menu_logo {
    width: 250px;
    height: 250px;
}

.logo {
    width: 100%;
    height: 100%;
    background: url(../image/log_off.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    cursor: pointer;
}

.nav-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.opcion {
    width: 130px;
    height: 40px;
    padding: 7px 15px;
    background: transparent;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    border-bottom: 3px solid #66FCF1;
    cursor: pointer;
    overflow: hidden;
}

.opcion:hover {
    background-color: #66FCF1;
    color: #0B0C10;
    border-radius: 6px;
    border: 0.5px solid #0B0C10;
    border-bottom: 6px solid #45A29E;
}

.opcion_cta {
    --color: #66FCF1;
    font-family: inherit;
    text-decoration: none;
    display: inline-block;
    width: 128px;
    height: 40px;
    line-height: 12px;
    padding: 12px 18px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.opcion_cta:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.opcion_cta:hover {
    color: #0B0C10;
}

.opcion_cta:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.opcion_cta:hover:before {
    top: -30px;
    left: -30px;
}

.opcion_cta:active:before {
    background: #66FCF1;
    transition: background 0s;
}

.main {
    width: 100%;
    height: 100%;
    background: #0B0C10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brief-section {
    width: 100%;
    height: 550px;
    border-radius: 6px;
}

.brief-section .brief-content {
    width: 100%;
    height: 100%;
    background: #0B0C10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.brief-section .brief-content .contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.brief-section .brief-content .contact-left .title {
    font-size: 40px;
    margin-bottom: 5px;
    color: #66FCF1;
}

.brief-section .brief-content .contact-left hr {
    border: none;
    width: 250px;
    height: 5px;
    background: #66FCF1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.brief-section .brief-content .contact-left .contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 0 0 25px;
    font-weight: 600;
    color: #1F2833;
    border-radius: 35px;
}

.brief-section .brief-content .contact-left .men-input {
    width: 400px;
    height: 140px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #1F2833;
    font-weight: 600;
    padding: 15px 0 0 25px;
    border-radius: 20px;
}

.brief-section .brief-content .contact-left .contact-inputs:focus {
    border: 2px solid #66FCF1;
    background: #1F2833;
    color: #fff;
}

.brief-section .brief-content .contact-left .contact-inputs::placeholder {
    color: #45A29E;
}

.brief-section .brief-content .contact-left .men-input:focus {
    border: 2px solid #66FCF1;
    background: #1F2833;
    color: #fff;
}

.brief-section .brief-content .contact-left .men-input::placeholder {
    color: #45A29E;
}

.brief-section .brief-content .contact-left button {
    position: relative;
    margin-top: 5px;
    padding: 10px 80px;
    background: #66FCF1;
    color: #0B0C10;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 0 12px 12px 12px;
    align-self: center;
    cursor: pointer;
}

.brief-section .brief-content .contact-left button::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 10px;
    top: -10px;
    left: 0px;
    background: #66FCF1;
    border-radius: 10px 10px 0 0;
}

.brief-section .brief-content .contact-left button:hover {
    color: #66FCF1;
    background: #0B0C10;
    border: 1px solid #66FCF1;
}

.brief-section .brief-content .contact-left button:hover::before {
    background: #0B0C10;
    border: 1px solid #66FCF1;
    border-bottom: none;
}

.brief-section .brief-content .contact-left button:active {
    background: #fff;
    color: #0B0C10;
    border: none;
}

.brief-section .brief-content .contact-left button:active::before {
    background: #fff;
    border: none;
}

.brief-section .brief-content .contact-right {
    width: 50%;
    height: 95%;
    background: url(../image/graphic/contac.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.footer-section {
    width: 100%;
    height: 250px;
}

.footer-section .footer-content {
    width: 100%;
    height: 100%;
    background: #0B0C10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-section .footer-content .footer {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.footer-section .footer-content .footer .footer-logo {
    position: relative;
    width: 33%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section .footer-content .footer .footer-logo .logo {
    background: url(../image/log_off.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.footer-section .footer-content .footer .footer-logo .end-text {
    width: 80%;
    font-size: 12px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 80px;
    margin-bottom: 40px;
}

.footer-section .footer-content .footer .nav-list {
    width: 33%;
    height: 100%;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.footer-section .footer-content .footer .nav-list .fopcion {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    background: #0B0C10;
}

.footer-section .footer-content .footer .nav-list .fopcion:hover {
    border-bottom: 2px solid #fff;
}


.footer-section .footer-content .footer .contact-boton {
    width: 33%;
    height: 100%;
    padding: 40px;
    border-radius: 25px;
    margin-right: 10px;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by wilsondesouza */
ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #0B0C10;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: #fff;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #0B0C10;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"]~.tooltip {
    background-color: #25D366;
}

.example-2 .icon-content a[data-social="tiktok"] .filled,
.example-2 .icon-content a[data-social="tiktok"]~.tooltip {
    background-color: #000;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: #E1306C;
}

.copyright {
    width: 100%;
    height: 3%;
    text-align: center;
    color: #fff;
    font-size: 12px;
}



/*======= Responsive Design Tables ======*/



@media (max-width:1024px) {
    .logo_nav {
        height: 60px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .opcion {
        font-size: 15px;
    }

    .opcion_cta {
        width: 120px;
        height: 35px;
        line-height: 12px;
        padding: 10px 22px;
        font-size: 14px;
    }

    .brief-section {
        height: 450px;
    }

    .brief-section .brief-content .contact-left .title {
        font-size: 30px;
        margin-bottom: 0px;
        color: #66FCF1;
    }

    .brief-section .brief-content .contact-left hr {
        width: 100px;
        height: 5px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .brief-section .brief-content .contact-left .contact-inputs {
        width: 300px;
        height: 40px;
    }

    .brief-section .brief-content .contact-left .men-input {
        width: 300px;
        height: 120px;
    }

    .brief-section .brief-content .contact-left button {
        padding: 10px 60px;
    }

    .brief-section .brief-content .contact-left button::before {
        content: "";
        position: absolute;
        width: 60px;
        height: 10px;
        top: -8px;
        left: 0px;
        background: #66FCF1;
        border-radius: 10px 10px 0 0;
    }

    .brief-section .brief-content .contact-right {
        width: 40%;
        height: 90%;
    }


    .footer-section .footer-content .footer .footer-logo {
        position: relative;
        width: 33%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-section .footer-content .footer .footer-logo .end-text {
        width: 70%;
        font-size: 10px;
        margin-left: 50px;
        margin-bottom: 45px;
    }

    .footer-section .footer-content .footer .nav-list {
        padding: 10px;
        gap: 5px;
    }

    .footer-section .footer-content .footer .nav-list .fopcion {
        font-size: 12px;
    }

    .footer-section .footer-content .footer .contact-boton {
        padding: 20px;
        gap: 20px;
    }

    .copyright {
        width: 100%;
        height: 3%;
        text-align: center;
        color: #fff;
        font-size: 10px;
    }

}



/*===== Responsive Design Phone =====*/




@media (max-width:768px) {
    .logo_nav {
        height: 60px;
        padding: 20px 30px;
        ;
    }

    .menu {
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

    .menu_logo {
        width: 50%;
        height: 150px;
    }

    .logo {
        width: 100%;
        height: 100%;
        background: url(../image/log_off.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        cursor: pointer;
    }

    .opcion {
        display: none;
    }

    .opcion_cta {
        width: 110px;
        height: 40px;
        line-height: 20px;
        padding: 8px 18px;
        font-size: 14px;
    }

    .brief-section .brief-content .contact-left .title {
        font-size: 25px;
    }

    .brief-section .brief-content .contact-right {
        display: none;
    }


    .footer-section {
        width: 100%;
        height: 250px;
    }

    .footer-section .footer-content {
        width: 100%;
        height: 100%;
        background: #0B0C10;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-section .footer-content .footer {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-section .footer-content .footer .footer-logo {
        position: relative;
        width: 33%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-section .footer-content .footer .footer-logo .logo {
        background: url(../image/log_off.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    .footer-section .footer-content .footer .footer-logo .end-text {
        display: none;
    }

    .footer-section .footer-content .footer .nav-list {
        padding: 10px;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
    }

    .footer-section .footer-content .footer .nav-list .fopcion {
        list-style: none;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        padding: 5px 10px;
        background: #0B0C10;
    }

    .footer-section .footer-content .footer .nav-list .fopcion:hover {
        border-bottom: 2px solid #fff;
    }


    .footer-section .footer-content .footer .contact-boton {
        width: 33%;
        height: 100%;
        padding: 20px;
        border-radius: 25px;
        margin-right: 10px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* From Uiverse.io by wilsondesouza */
    .example-2 {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .example-2 .icon-content .tooltip {
        font-size: 12px;
        display: none;
    }

    .example-2 .icon-content:hover .tooltip {
        opacity: 1;
        visibility: visible;
        top: -50px;
    }

    .example-2 .icon-content a {
        width: 40px;
        height: 40px;
    }

    .example-2 .icon-content a svg {
        width: 20px;
        height: 20px;
    }

    .copyright {
        font-size: 10px;
    }



}
