* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_nav {
    background: #0B0C10;
    width: 100%;
    height: 80px;
    padding: 20px 70px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.menu_logo {
    width: 250px;
    height: 250px;
}

.logo {
    width: 100%;
    height: 100%;
    background: url(../image/log_off.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
}

.nav-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline-block;
    position: relative;
}

.dropdown {
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    display: none;
}


.dropdown .drop {
    display: block;
    width: 170px;
    height: 40px;
    padding: 7px 15px;
    background-color: #0B0C10;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    border-right: 2px solid #66FCF1;
    border-bottom: 2px solid #66FCF1;
}

.dropdown .drop:hover {
    color: #0B0C10;
    background-color: #66FCF1;
    border-bottom: 4px solid #45A29E;
    border-right: none;
}


.nav-list li:hover .dropdown {
    display: block;
}

.opcion {
    display: block;
    width: 130px;
    height: 40px;
    padding: 7px 15px;
    background: transparent;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    border-bottom: 3px solid #66FCF1;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

.opcion:hover {
    background-color: #66FCF1;
    color: #0B0C10;
    border-radius: 6px;
    border: 0.5px solid #0B0C10;
    border-bottom: 6px solid #45A29E;
}

.opcion_cta {
    --color: #66FCF1;
    font-family: inherit;
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 40px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.opcion_cta:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.opcion_cta:hover {
    color: #0B0C10;
}

.opcion_cta:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.opcion_cta:hover:before {
    top: -30px;
    left: -30px;
}

.opcion_cta:active:before {
    background: #66FCF1;
    transition: background 0s;
}

.nav-list .menu-boton {
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #66FCF1;
}

.menu-boton svg {
    width: 20px;
    height: 20px;
    color: #66FCF1;
    cursor: pointer;
    user-select: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    box-shadow: -30px 0 10px rgba(11, 12, 16, 0.7);
    display: none;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
}

.sidebar li {
    width: 100%;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: ease-in 0.2s;
    border: 1px solid #45A29E;
    box-shadow: 12px 8px 10px rgba(11, 12, 16, 0.7);
}

.sidebar li a {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebar .close {
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    border: none;
}

.sidebar .close svg {
    width: 30px;
    height: 30px;
    color: #45a29e;
}

.sidebar li:nth-child(1) {
    width: 100px;
    height: 100px;
    background: url(../image/log_off.png);
    background-color: #0B0C10;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border: none;
    user-select: none;
}

.sidebar li:nth-child(5) {
    background-color: #45A29E;
    border: none;
}


.sidebar li a {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.sidebar li:hover {
    transform: scale(1.1);
}

.main {
    width: 100%;
    height: 100%;
    background: #0B0C10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-section {
    width: 100%;
    height: 550px;
    border-radius: 6px;
}

.error-section .error-content {
    width: 100%;
    height: 100%;
    background: #0B0C10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.error-section .error-content .title {
    font-size: 90px;
    text-align: center;
    color: #66FCF1;
    display: flex;
    gap: 10px;
    align-items: center;
}

.error-section .error-content .title svg {
    width: 90px;
    height: 90px;
}

.error-section .error-content .subtitle {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.error-section .error-content .noti {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    margin-bottom: 20px;
}

.footer-section {
    width: 100%;
    height: 250px;
}

.footer-section .footer-content {
    width: 100%;
    height: 100%;
    background: #0B0C10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-section .footer-content .footer {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.footer-section .footer-content .footer .footer-logo {
    position: relative;
    width: 33%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section .footer-content .footer .footer-logo .logo {
    background: url(../image/log_off.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    user-select: none;
}

.footer-section .footer-content .footer .footer-logo .end-text {
    width: 80%;
    font-size: 12px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 80px;
    margin-bottom: 40px;
    user-select: none;
}

.footer-section .footer-content .footer .nav-list {
    width: 33%;
    height: 100%;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.footer-section .footer-content .footer .nav-list .fopcion {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    background: #0B0C10;
}

.footer-section .footer-content .footer .nav-list .fopcion:hover {
    border-bottom: 2px solid #fff;
}


.footer-section .footer-content .footer .contact-boton {
    width: 33%;
    height: 100%;
    padding: 40px;
    border-radius: 25px;
    margin-right: 10px;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by wilsondesouza */
ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #0B0C10;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: #fff;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #0B0C10;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"]~.tooltip {
    background-color: #25D366;
}

.example-2 .icon-content a[data-social="tiktok"] .filled,
.example-2 .icon-content a[data-social="tiktok"]~.tooltip {
    background-color: #000;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: #E1306C;
}

.copyright {
    width: 100%;
    height: 3%;
    text-align: center;
    color: #fff;
    font-size: 12px;
}



/*======= Responsive Design Tables ======*/



@media (max-width:1024px) {
    .logo_nav {
        height: 60px;
    }

    .nav-list {
        display: flex;
        gap: 30px;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .opcion {
        font-size: 14px;
    }

    .opcion_cta {
        width: 120px;
        height: 35px;
        line-height: 12px;
        padding: 10px 22px;
        font-size: 14px;
    }

    .error-section {
        height: 450px;
    }

    .error-section .error-content .subtitle {
        font-size: 60px;
    }

    .footer-section .footer-content .footer .footer-logo {
        position: relative;
        width: 33%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-section .footer-content .footer .footer-logo .end-text {
        width: 70%;
        font-size: 10px;
        margin-left: 50px;
        margin-bottom: 45px;
    }

    .footer-section .footer-content .footer .nav-list {
        padding: 10px;
        gap: 5px;
    }

    .footer-section .footer-content .footer .nav-list .fopcion {
        font-size: 12px;
    }

    .footer-section .footer-content .footer .contact-boton {
        padding: 20px;
        gap: 20px;
    }

    .copyright {
        width: 100%;
        height: 3%;
        text-align: center;
        color: #fff;
        font-size: 10px;
    }

}



/*===== Responsive Design Phone =====*/




@media (max-width:768px) {
    .logo_nav {
        height: 60px;
        padding: 20px 30px;
        ;
    }

    .menu {
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

    .menu_logo {
        width: 50%;
        height: 150px;
    }

    .logo {
        width: 100%;
        height: 100%;
        background: url(../image/log_off.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        cursor: pointer;
    }

    .opcion {
        display: none;
    }

    .opcion_cta {
        display: none;
    }

    .nav-list .menu-boton {
        display: flex;
    }

    .error-section {
        height: 450px;
    }

    .error-section .error-content .title {
        font-size: 70px;
    }

    .error-section .error-content .title svg {
        width: 80px;
        height: 80px;
    }

    .error-section .error-content .subtitle {
        font-size: 30px;
    }

    .error-section .error-content .noti {
        font-size: 14px;
    }

    .footer-section {
        width: 100%;
        height: 250px;
    }

    .footer-section .footer-content {
        width: 100%;
        height: 100%;
        background: #0B0C10;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-section .footer-content .footer {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-section .footer-content .footer .footer-logo {
        position: relative;
        width: 33%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-section .footer-content .footer .footer-logo .logo {
        background: url(../image/log_off.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    .footer-section .footer-content .footer .footer-logo .end-text {
        display: none;
    }

    .footer-section .footer-content .footer .nav-list {
        padding: 10px;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
    }

    .footer-section .footer-content .footer .nav-list .fopcion {
        list-style: none;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        padding: 5px 10px;
        background: #0B0C10;
    }

    .footer-section .footer-content .footer .nav-list .fopcion:hover {
        border-bottom: 2px solid #fff;
    }


    .footer-section .footer-content .footer .contact-boton {
        width: 33%;
        height: 100%;
        padding: 20px;
        border-radius: 25px;
        margin-right: 10px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* From Uiverse.io by wilsondesouza */
    .example-2 {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .example-2 .icon-content .tooltip {
        font-size: 12px;
        display: none;
    }

    .example-2 .icon-content:hover .tooltip {
        opacity: 1;
        visibility: visible;
        top: -50px;
    }

    .example-2 .icon-content a {
        width: 40px;
        height: 40px;
    }

    .example-2 .icon-content a svg {
        width: 20px;
        height: 20px;
    }

    .copyright {
        font-size: 10px;
    }


}

.support {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #0B0C10;
    background-image: linear-gradient(147deg, #66FCF1 0%, #45A29E 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
}

.support svg {
    height: 12px;
    fill: #0B0C10;
    width: 30px;
    height: 30px;
}

.support:hover svg {
    animation: jello-vertical 0.7s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@media (max-width:768px) {
    .support {
        left: 20px;
        width: 50px;
        height: 50px;
    }

    .support svg {
        width: 20px;
        height: 20px;
    }
}